body {
  background-image: url("/ECT/images/supreme_leader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */     
  margin-right: 0px !important;
}
.navbar-brand>img {
height: 100%;
padding: 1px; /* firefox bug fix */
width: auto;
}

.navbar-brand .logo-image{
width: 73px;
height: 50px;
border-radius: 0%;
overflow: hidden;
margin-top: 0px;
}

.logo-wp {
margin-right: 1rem;
}

div.pic1 {
content: url("/ECT/images/three_musketeers.JPG");
width: 412px;
height: 310px;
margin: 0 auto;

}